@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, #17153B,#2E236C) ;
    min-height: 100vh;
}

#imagem1 {
    position: relative;
    height: 100vh;
    width: 100vw; 
}

#imagem2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    border-radius: 10px;
    height: 505px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}

header > #elefante {
    background-image: url(imagens/php-elephant.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 185px;
    height: 130px;
    margin:auto;
    margin-top: 10px;
    border-radius: 5px;
}

header > h1 {
    text-align: center;
    margin: 10px;
    color: #17153B;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}

form {
    background-color: #C8ACD6 ;
    box-shadow: 0px 0px 10px #17153b59;
    padding: 10px;
    font-size: large;
    border-radius: 7px;
    width: 280px ;
    margin: auto;
    height: 300px;
}

label {
    background-color: #2E236C;
    color: white;
    display: block;
    font-size: 1em;
    font-weight: 100;
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
}

.confirm {
    width: 100%;
    background-color: #17153B;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.confirm:hover {
    background-color: #4e438d;
}